body {
	box-sizing: border-box;
	color: #252B42;
}


.wrapper {
	min-height:  100%;
	overflow: hidden;
}

/*--------------  Header  -------------------*/

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}

.header_container {
	display: flex;
	min-height: 104px;
	align-item: center;
}

.header_logo {
	font-size: 24px;
	font-weight: bold;
}

.header_menu {
	margin: 0px 0px 0px 133px;
}
@media (max-width: 992px){
	.header_menu {
	margin: 0px 0px 0px 80px;
	}
}
@media (max-width: 767px){
	.header_menu {
	margin: 0px 0px 0px 40px;
	}
}


.menu{

}
.menu_list{
	display: flex;

}
.menu_item {

}
.menu_item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}

.menu_link {
	color: #737373;
	line-height: 171%;
	font-weight: 600;
}
